@import "./fonts.css";

:root {
    --colour-1: #00396a;
    --colour-2: #749cc3;
    --colour-3: #2077aa;
    --colour-4: #ffffff;
    --colour-5: #bbe3fa;
    --colour-1-rgb: 0, 57, 106;
    --colour-2-rgb: 116, 156, 195;
    --colour-3-rgb: 32, 119, 170;
    --colour-4-rgb: 255, 255, 255;
    --colour-5-rgb: 187, 227, 250;
    /*
    #2077aa bleu roi fond du logo
    #749cc3 bleu violet poi
    #bbe3fa bleu ciel fond de carte
    #ffffff blanc texte
    #00396a bleu foncé tee shirt
    */

    --primary-dark: var(--colour-1);
    --primary-light: var(--colour-3);
    --links: var(--colour-2);
    --text-light: var(--colour-4);
    --footer-font-size: 1.125rem; /* 18px */

    /* Bootstrap variables override */
    --bs-secondary: var(--colour-5);
    --bs-secondary-rgb: var(--colour-5-rgb);
    --bs-body-font-size: 1.25rem; /* 20px */
    --bs-nav-link-font-size: 1.125rem; /* 18px */
    --bs-nav-link-font-weight: var(--bs-body-font-weight);
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--colour-3);
}

.navbar-brand {
    --bs-navbar-brand-padding-y: 0.625em; /* 10px */
}

.table {
    --bs-table-color: var(--colour-1);
    --bs-table-bg: #dff1fd;
    --bs-table-border-color: #fff;
    --bs-table-active-bg: var(--colour-5);
}

body {
    width: 100%;
    height: 100%;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    color: var(--text-light);
    background-color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1,
h2 {
    font-weight: 500;
}

h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

/************************
    Navbar
************************/

.navbar-custom {
    letter-spacing: 1px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-light);
    background-color: var(--primary-dark);
    font-weight: 500;
}

.navbar-custom .navbar-brand {
    font-weight: normal;
    margin-left: 1em;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 700;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar,
.navbar a {
    color: var(--primary-dark);
}

.navbar a::hover {
    color: var(--colour-2);
}

nav a,
.nav a {
    text-decoration: none;
}

.navbar-brand .logo {
    /* optical correction for logo's shadow */
    margin-bottom: -6px;
}

.navbar-toggle {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 4px;
}

/************************
    Link
************************/

a {
    color: var(--text-light);
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: var(--links);
    text-decoration-color: var(--links);
}

a.nodeco {
    text-decoration: none;
}

.card a {
    color: var(--links);
}

a:hover,
a:focus {
    color: var(--colour-3);
    /* text-decoration-color: var(--links); */
}

/************************
    Table
************************/

.table th {
    background-color: #fecb00;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.table .table-active {
    text-transform: uppercase;
    text-align: center;
}

/************************
    Page
************************/

#main,
.page {
    background-color: var(--primary-light);
    color: var(--text-light);
    padding: 6em 0;
}

#main .container-fluid {
    width: calc(100vw - 24em);
    margin-right: 12em;
    margin-left: 12em;
}

#main h1 {
    font-size: 2em;
}

#main h2 {
    font-size: 1.8em;
}

#main h3 {
    font-size: 1.5em;
    padding: 0.5em 0 0 0;
}

#main h2:not(:first-child) {
    padding: 0.5em 0 0 0;
}

/************************
    Footer
************************/

footer a {
    color: var(--text-light);
}

footer a:hover,
footer a:focus {
    color: var(--links);
    text-decoration-color: var(--links);
}

footer {
    padding: 50px 0;
    color: var(--text-light);
}

footer p {
    margin: 0;
}

#footer {
    font-size: var(--footer-font-size);
    line-height: 1.75em;
    background-color: var(--primary-dark);
    padding: 3em;
    border-top: 1px solid var(--primary-light);
}

#footer a.light {
    font-weight: normal;
}

#footer .center {
    padding-top: 2em;
    text-align: center;
}

/************************
    Intro
************************/

.intro {
    padding-top: 150px;
    padding-bottom: 150px;
    color: var(--primary-dark);
    background-image: url("../img/home-intro-bg.png");
    background-color: var(--colour-5);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro .logo img {
    width: 350px;
}

.intro .credit-link {
    color: var(--primary-dark);
}

/************************
    Présentation
************************/

.card.presentation {
    padding: 3em;
    border-radius: 0;
    text-align: center;
    color: var(--text-light);
}

.card.presentation a {
    color: var(--text-light);
}

.card.presentation .card-title {
    font-size: 1.9em;
}

.card.presentation .card-subtitle {
    font-size: 1.35em;
    padding-bottom: 1em;
}

.card.presentation .card-text {
    font-size: 1.25em;
}

/************************
    Video player
************************/
.video-playlist {
    position: relative;
    padding-top: 56.25%;
}

.video-playlist iframe {
    position: absolute;
    inset: 0;
}

/************************
    Inscription
************************/
#iframe_assoconnect {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    border: 0;
    max-height: none;
}

/************************
    Sponsors
************************/

.sponsor-page a {
    margin-right: 1em;
    margin-bottom: 1em;
}

/************************
    Content
************************/

.content-section {
    padding-top: 1em;
}

/************************
    Map
************************/

#map {
    width: 100%;
    height: 300px;
}

.map-icon {
    filter: drop-shadow(0 0 2px white);
}

.map-container {
    position: relative;
}

/************************
    Button (not used)
************************/

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/************************
    About
************************/

#about {
    padding: 3em;
    background-color: var(--primary-dark);
}

#about .col-subtitle-info {
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 25px;
}

#about .col-subtitle-info:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-light);
    position: absolute;
    bottom: -13px;
    left: 0;
}

/************************
    Mobile
************************/

@media (max-width: 766px) {
    .footer-logo {
        padding-bottom: 1em;
    }

    .prose h2:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    div.affix {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 991px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, color 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, color 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, color 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
    }

    .top-nav-collapse,
    .stay-collapsed {
        padding: 0;
        background-color: var(--primary-dark);
        border-bottom: 1px solid var(--primary-light);
    }

    .navbar-custom ul {
        transform: translate(-21%, 0);
    }

    .navbar-custom.top-nav-collapse {
        background-color: var(--primary-dark);
        border-bottom: 1px solid var(--primary-light);
    }

    a.navbar-brand {
        display: inline-block;
        opacity: 0;
        width: auto;
        overflow: hidden;
    }

    .navbar-custom.top-nav-collapse a,
    .stay-collapsed a {
        opacity: 1;
        width: auto;
        color: var(--text-light);
    }

    .navbar-custom.top-nav-collapse a:hover,
    .stay-collapsed a:hover {
        color: var(--links);
    }

    .content-section {
        padding-top: 2em;
    }

    #map {
        height: 400px;
    }
}

@media (max-width: 991px) {
    .navbar a {
        color: var(--text-light);
    }

    .navbar a:hover {
        color: var(--links);
    }
}

/************************
    Table
************************/

/* schedule table */
table.scheduleTable thead td {
    border-style: none;
    background-color: var(--primary-dark);
    color: var(--text-light);
}

table.scheduleTable span.speaker,
table.scheduleTable span.extraTag {
    letter-spacing: 0;
    display: block;
}

table.scheduleTable span.speaker {
    margin-top: 5px;
    font-size: 14px;
}

table.scheduleTable span.extraTag {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 100%;
}

td.scheduleBreak {
    text-align: center;
}

/************************
    Program
************************/

.program-page .conf h4 {
    text-transform: initial;
}

/************************
    Attending
************************/

.translation-table span {
    padding-bottom: 10px;
}

.translation-table .section-head {
    font-weight: bold;
    padding-bottom: 10px;
}
