printWidth: 120
tabWidth: 4
useTabs: false
semi: true
singleQuote: false
trailingComma: "none"
bracketSpacing: false
bracketSameLine: true
arrowParens: "avoid"
htmlWhitespaceSensitivity: "css"
endOfLine: "lf"
embeddedLanguageFormatting: "auto"
singleAttributePerLine: false
