{% set page_name = 'Soutiens' %}
{% extends "layouts/layout.html" %} 
{% block content %}

<section id="main" class="sponsor-page">

    <div class="container">
        <h1>Soutiens</h1>
        <h2>Sponsors</h2>
        <div class="row bg-white text-center">
            <div class="col pt-5 pb-5">
<!--                        grands-->
<!--                        moyens-->
                <a class="nodeco" target="_blank" href="https://latitude-cartagene.com" >
                    <img class="logo p-1" src="img/sponsors/logo_latitude_cartagene.svg" alt="logo Latitude Cartagène" width="300">
                </a>

                <a class="nodeco" target="_blank" href="https://makina-corpus.com" >
                    <img class="logo p-1" src="img/sponsors/logo_makina_corpus.svg" alt="logo Makina Corpus" width="300">
                </a>

                <a class="nodeco" target="_blank" href="https://www.meta.com/fr/" >
                    <img class="logo p-1" src="img/sponsors/logo_meta.svg" alt="logo Meta" width="300">
                </a>

                <a class="nodeco" target="_blank" href="https://www.opendatasoft.com/fr/" >
                    <img class="logo p-1" src="img/sponsors/logo_open_data_soft.svg" alt="logo OpenDataSoft" width="300">
                </a>

                <a class="nodeco" target="_blank" href="https://www.tomtom.com" >
                    <img class="logo p-1" src="img/sponsors/logo_tomtom.svg" alt="logo TomTom" width="300">
                </a>

                <a class="nodeco" target="_blank" href="https://getwemap.com" >
                    <img class="logo p-1" src="img/sponsors/logo_wemap.svg" alt="logo WeMap" width="300">
                </a>

                <br>
<!--                        petits soutiens-->


                <a class="nodeco" target="_blank" href="https://www.2i2l.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_2i2l.svg" alt="logo 2i2L" width="200">
                </a>
                <a class="nodeco" target="_blank" href="https://cartocite.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_cartocite.svg" alt="logo Cartocité" width="200">
                </a>
                <a class="nodeco" target="_blank" href="http://www.geovelo.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_geovelo.svg" alt="logo Geovelo" width="200">
                </a>
                <br>
                <a class="nodeco" target="_blank" href="https://www.jawg.io/" >
                    <img class="logo p-2" src="img/sponsors/logo_jawg.svg" alt="logo Jawgmaps" width="200">
                </a>
                <a class="nodeco" target="_blank" href="https://www.k-prod.fr" >
                    <img class="logo p-2" src="img/sponsors/logo_kprod.svg" alt="logo K-prod" width="200">
                </a>

                <a class="nodeco" target="_blank" href="https://www.magellium.com/fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_magellium.svg" alt="logo Magellium" width="200">
                </a>
                <a class="nodeco" target="_blank" href="https://www.veremes.com/" >
                    <img class="logo p-2" src="img/sponsors/logo_veremes.svg" alt="logo Veremes" width="200">
                </a>

            </div>
        </div>
    </div>
</section>

{% endblock %}
