{% set page_name = 'Contributions' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Appel à contributions</h1>
                <!--<p>Cette année, l'appel à contributions est réalisé via le logiciel libre <a href="https://pretalx.com/" target="_blank">Pretalx</a>, pour nous faciliter toute la gestion des intervenants et des interventions.<br>
				Vous pourrez proposer une intervention, et vous disposerez d'un compte pour revenir ultérieurement sur la plateforme pour compléter votre profil et la description de vos interventions.<br>
				Pour les personnes ayant déja fait des conférences l'année dernière, il est préférable de réutiliser le même compte pour simplifier la gestion.
                    Nous vous remercions pour votre participation et vous invitons à suivre ce lien : <a href="https://pretalx.com/sotm-fr-2025/cfp">https://pretalx.com/sotm-fr-2025/cfp</a>.
                </p>
                <p>L’appel à contribution se clôturera le 25 avril.</p>-->
                <p>
                <strong>L'appel à contributions est à présent cloturé</strong>. Si vous souhaitez éditer vos propositions, nous vous invitons à suivre ce lien : <a href="https://pretalx.com/sotm-fr-2025/cfp" target="_blank">https://pretalx.com/sotm-fr-2025/cfp</a>.
                <p>Un mail vous sera envoyé prochainement pour confirmer votre participation à l'événement, surveillez vos boites mails (et vos spams) !</p>
                </p>
                <p>
                    Si vous souhaitez nous contacter, merci d'utiliser l'adresse <a href="mailto:sotm@openstreetmap.fr">sotm@openstreetmap.fr</a>.
                </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}
