{% set page_name = 'Accueil' %}
{% extends "layouts/layout.html" %}
{% block content %}
{% include "partials/header.html" %}

<!-- Presentation Section -->
<section class="container-fluid page card presentation">
    <div class="container">
        <div class="card-body">
            <h3>Merci à toutes et tous, le SOTM FR 2025 en 1mn45 ↴</h3>
            <div class="video-playlist">
                <iframe title="RECAP SOTM-FR 2025"
                    src="https://peertube.openstreetmap.fr/videos/embed/e827c08c-f4d1-4ca2-9a65-555aa28f5b5c"
                    allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"
                     width="100%" height="100%"
                    frameborder="0"></iframe>
            </div>
			<br>
			<p>Les replays des conférences sont disponibles sur <a href="https://peertube.openstreetmap.fr/c/sotm_fr_2025/videos" class="animate block">Peertube</a></p>
			<br>
            <h1 class="card-title" style="text-transform: none;">Du vendredi 13 au dimanche 15 JUIN 2025</h1>
            <h2 class="card-subtitle"><a href="https://www.openstreetmap.org/way/129250679">Université de Tours - Campus des Deux-Lions/Portalis</a></h2>
            <p class="card-text">
                Conférence organisée par l'association
                <a class="animate block" href="https://www.openstreetmap.fr/" rel="noopener noreferrer"
                    target="_blank">OpenStreetMap France</a>.
                <br/>
                En partenariat avec l'<a class="animate block" href="https://www.univ-tours.fr/" rel="noopener noreferrer"
                    target="_blank">Université de Tours</a>.
            </p>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="container-fluid dark page" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <section>
                    <h2 class="mb-4">State of the Map</h2>
                    <p>
                        Après <a href="https://prev.openstreetmap.fr/sotmfr2013.html">Lyon (2013)</a>, <a href="https://prev.openstreetmap.fr/sotmfr2014.html">Paris (2014)</a>, <a href="https://prev.openstreetmap.fr/sotmfr2015.html">Brest (2015)</a>, <a href="https://prev.openstreetmap.fr/sotmfr2016.html">Clermont-Ferrand (2016)</a>, <a href="https://prev.openstreetmap.fr/sotmfr2017.html">Avignon (2017)</a>,
                        <a href="https://sotm2018.openstreetmap.fr/">Bordeaux (2018)</a>, <a href="https://sotm2019.openstreetmap.fr/">Montpellier (2019)</a>, <a href="https://sotm2022.openstreetmap.fr/">Nantes (2022)</a>, <a href="https://sotm2023.openstreetmap.fr/">Marseille (2023)</a>, <a href="https://sotm2024.openstreetmap.fr/">Lyon (2024)</a> pour leur onzième édition,
                        les Rencontres Nationales OpenStreetMap arrivent à Tours.
                    </p>

                    <p>
                        Les 13-14-15 juin 2025, durant 3 jours, contributeurs, utilisateurs, représentants de
                        collectivités et d'entreprises gravitant autour du Web et de l'information géographique,
                        chercheurs, mais aussi personnes curieuses de découvrir cette «&nbsp;base de données libre du
                        monde&nbsp;» que représente OSM, se retrouveront pour partager leurs expériences, se
                        tenir informé, se former, découvrir l'écosystème et les multiples
                        applications&nbsp;–&nbsp;existantes ou à imaginer&nbsp;–&nbsp;autour d'OpenStreetMap.
                    </p>
                    <p>Nous vous y attendons nombreuses et nombreux.</p>
                </section>
            </div>

            <div class="col-lg-4">
                <h3 class="col-subtitle-info">Où&nbsp;?</h3>
                <p>
                    <a href="https://www.openstreetmap.org/#map=14/47.39231/0.69428" rel="noopener noreferrer"
                        target="_blank">Tours,&nbsp;France</a>
                </p>

                <h3 class="col-subtitle-info">Quand&nbsp;?</h3>
                <p>13 au 15 Juin 2025</p>
                <a href="img/sotm_france_2025.ics">Ajouter au calendrier</a>

                <h3 class="col-subtitle-info"></h3>
                <a href="https://openstreetmap.org/" rel="noopener noreferrer" target="_blank">
                    <img alt="Lien vers osm" src="img/osm.svg" style="height: 85px; margin-top: 20px" />
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
