{% set page_name = 'Informations pratiques' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
		<h1>Informations pratiques</h1>
		<p>Les informations pratiques seront rajoutées sur cette page au fur et a mesure et un mail avec les derniers détails vous sera envoyé quelques jours avant l'événement.</p>
		<p>Les Journées du vendredi et samedi auront lieu sur le <strong>Campus des 2 Lions</strong></p>
    <h2>Transports</h2>
		<div class="content-section">
            <h3>Venir à Tours en train</h3>
            <p>Tours est bien desservi par le train : en moins de 5h, vous pouvez venir de tous ces endroits</p>
            <img class="img-fluid" src="img/chronotrains.png">
            <br>
            <a href="https://www.chronotrains.com/fr/station/2972191-Tours?maxTime=5">Source</a>
            <br>
            <p>Le Campus est accessible depuis la gare de Tours via le <a href="https://cartes.app/?style=france&allez=Tours%7Cn4550029282%7C0.6939%7C47.3894-%3EFac+2+Lions%7Cn2360730088%7C0.6844%7C47.3672&mode=commun" >TRAM A</a>

            <br>
            <h3>Campus des deux lions</h3>
            <a href="geo:47.366255,0.683094?z=18">Coordonnées GPS : 47.366255, 0.683094</a>
            <p>Ce campus est situé au sud de Tours et à proximité -> A compléter</p>
            <p>Il est accessible en transport en commun:</p>
            <ul>
            <li><a href="https://www.filbleu.fr/horaires-et-trajets/toutes-les-lignes/ligne-a">TRAM A</a> | Station FAC 2 lions</li>
            <li><a href="https://www.filbleu.fr/horaires-et-trajets/toutes-les-lignes/ligne-5">Bus ligne 5</a> | Arrêt FAC 2 lions</li>
            <li><a href="https://www.filbleu.fr/horaires-et-trajets/toutes-les-lignes/ligne-32">Bus ligne 32</a> | Arrêt FAC 2 lions</li>
            </ul>
        </div>
		<h2>Hébergements</h2>
    </div>
</section>

{% endblock %}
