{% set page_name = 'Mentions légales' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>Mentions légales</h1>
            </div>
            <div class="col-lg-8">
                <h2>Publication</h2>

                <img src="img/osmfrance-logo.png" alt="osm-fr-logo" class="float-end img-fluid"
                    style="width: 30%" />
                <p>
                    Ce site est géré par l’association <strong>OpenStreetMap France</strong> déclarée auprès de
                    la préfecture de police de Paris sous le numéro&nbsp;W751212517 et publiée au journal
                    officiel le 17/12/2011.
                </p>
                <p>Notre siège social&nbsp;:</p>
                <p>
                    OpenStreetMap France<br />
                    c/o Maison des Associations Paris Centre<br />
                    5 bis rue du Louvre<br />
                    75001 PARIS
                </p>
                <p>SIRET&nbsp;:&nbsp;<a href="https://annuaire-entreprises.data.gouv.fr/etablissement/84103758300025">841 037 583 00025</a></p>

                <p>
                    Directeur de publication&nbsp;:&nbsp;Vincent Bergeot, conseil d'administration d’<em>OpenStreetMap
                        France</em>.
                </p>

                <h2>Notre politique liée aux données personnelles</h2>

                Notre politique liée aux données personnelles est conçue pour vous informer de la façon dont
                nous utilisons vos données pour l’organisation du
                <abbr title="State of the Map France">SotM-FR</abbr>
                2025. Nous vous expliquons également quels sont vos droits et la façon de les exercer.

                <h3>Comment sont utilisées vos données personnelles&nbsp;?</h3>

                <p>
                    Conformément à la loi «&nbsp;Informatique et libertés&nbsp;» du 6 janvier 1978 modifiée et
                    au Règlement Général pour la Protection des Données (RGPD)&nbsp;:&nbsp;Règlement (UE)
                    2016/679 6, les données personnelles recueillies via des formulaires en ligne pour
                    l’organisation du SotM-FR sont enregistrées dans des fichiers informatisés gérés par
                    OpenStreetMap France (responsable de traitement).
                </p>
                <p>
                    L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il
                    procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur des formulaires le
                    caractère obligatoire ou non des informations qu’il serait amené à fournir. Sauf mention
                    contraire, la base légale des traitements est le consentement (Art 6.1.a du RGPD).
                </p>
                <p>
                    Les données collectées seront communiquées aux seuls destinataires suivants&nbsp;:&nbsp;(1)
                    bénévoles de l'association OpenStreetMap France et (2) prestataires de services dont
                    l’intervention est nécessaire pour organiser l'événement. Dans ce cas, vous serez
                    préalablement informé du prestataire et de la finalité du traitement. En aucun cas ces
                    données ne seront cédées ou vendues à des tiers.
                </p>
                <p>
                    Avec votre consentement, vos données sont conservées jusqu’à l’organisation du prochain
                    SotM-FR. Dans le cas contraire, elles seront conservées le temps que les destinataires
                    des données réalisent le traitement.
                </p>
                <p>
                    La durée de conservation de vos données peut aussi être liée à un délai légal qui s’impose à
                    tout responsable de traitement.
                </p>

                <h3>Utilisation de Matomo pour mesurer l’audience</h3>

                <p>Nous utilisons <a href="https://fr.matomo.org/">Matomo</a>, un outil d’analyse d’audience web, afin de mesurer la fréquentation du site web.</p>
                <p>Matomo est configuré de manière à respecter votre vie privée :</p>
                <ul>
                    <li>Les données sont collectées de manière anonyme (adresse IP anonymisée),</li>
                    <li>Aucun cookie n’est utilisé à des fins de suivi,</li>
                    <li>Les données sont hébergées sur les serveurs de l'association OpenStreetMap France,</li>
                    <li>Le nombre d'utilisateurs uniques sur le site peut être transmis à des tiers lors de nos prospections de sponsors pour financer l'événement.</li>
                </ul>

                <h3>Quels sont vos droits et comment les exercer&nbsp;?</h3>

                <p>
                    En application des articles 15 et suivants du RGPD, vous pouvez accéder aux données vous
                    concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation
                    du traitement de vos données. Vous pouvez retirer à tout moment votre consentement au
                    traitement de vos données.
                </p>
                <p>
                    Pour exercer ces droits ou pour toute question sur le traitement de vos données, vous pouvez
                    nous contacter via l’adresse suivante :
                    <a href="mailto:sotm@openstreetmap.fr">sotm@openstreetmap.fr</a>
                </p>
                <p>
                    Vous pouvez également consulter le site de la Commission Nationale de l’Informatique et des
                    Libertés (CNIL) pour plus d’informations sur vos droits (page dédiée à cette
                    rubrique&nbsp;:&nbsp;<a
                        href="https://www.cnil.fr/fr/mes-demarches/les-droits-pour-maitriser-vos-donnees-personnelles" target="_blank"
                        rel="noopener noreferrer">https://www.cnil.fr/fr/mes-demarches/les-droits-pour-maitriser-vos-donnees-personnelles</a>).
                </p>
                <p>
                    Si vous estimez, après nous avoir contactés, que vos droits «&nbsp;Informatique et
                    Libertés&nbsp;» ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
