{% set page_name = 'Programme' %}
{% extends "layouts/layout.html" %}
{% block content %}
<script type="text/javascript" src="https://pretalx.com/sotm-fr-2025/schedule/widget/v2.en.js"></script>
<section id="main" class="page program-page">
    <div class="container">
        <div class="row">
            <div class="col-12 pb-2">
                <h1>Programme</h1>
                <li>Le programme est disponible en plein écran à cette adresse <a href="https://pretalx.com/sotm-fr-2025/schedule/">https://pretalx.com/sotm-fr-2025/schedule/</a></li>
                <li>Mais aussi via l'application Giggity (<a href="https://f-droid.org/fr/packages/net.gaast.giggity/" target="_blank">FDroid</a>, <a href="https://play.google.com/store/apps/details?id=net.gaast.giggity" target="_blank">Google Play</a>)
                où vous trouverez l'ensemble du programme du SOTM-FR</li>
				<!--<li>Le programme est disponible au
                <a href="img/sotm2025-programme-d.pdf">téléchargement<span class="ms-1"><img src="img/file-pdf-regular.svg" alt="fichier pdf" style="width: 1em" /></span></a> ,vous pouvez aussi télécharger <a href="img/sotm2025-A0-guide-vertical-c.pdf">le guide des interventions avec les résumés
					<span class="ms-1"><img src="img/file-pdf-regular.svg" alt="fichier pdf"
                                style="width: 1em" /></span></a></li>-->
                <br>
                <p>Le programme de l'événement n'est pas définitif, certaines conférences n'ont pas encore été confirmées par les conférenciers.</p>
                <div style="overflow-x: auto; width: calc(100%);">
                <pretalx-schedule event-url="https://pretalx.com/sotm-fr-2025/" locale="fr" style="--pretalx-clr-primary: #3aa57c"></pretalx-schedule>
                    <noscript>
                        <div class="pretalx-widget">
                            <div class="pretalx-widget-info-message">
                                JavaScript is disabled in your browser. To access our schedule without JavaScript,please <a target="_blank" href="https://pretalx.com/sotm-fr-2025/schedule/">click here</a>.
                             </div>
                        </div>
                    </noscript>
                </div>
        </div>
    </div>
</div>
</section>

{% endblock %}
