{% set page_name = 'Soutiens' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section class="sponsor-page" id="main">

  <div class="container">
    <h1>Soutiens</h1>
    <h2>Partenaires</h2>
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://www.univ-tours.fr/" target="_blank">
          <img alt="Logo de l'Université de Tours" class="img-fluid p-2" src="img/sponsors/logo_universite.svg" width="450">
        </a>
        <a class="nodeco" href="https://www.tours.fr/" target="_blank">
          <img alt="Logo de la Ville de Tours" class="img-fluid p-2" src="img/sponsors/logo_ville_tours.svg" width="450">
        </a>
        <a class="nodeco" href="https://geovelo.app/" target="_blank">
          <img alt="Logo Geovelo" class="img-fluid p-2" src="img/sponsors/logo_geovelo.svg" width="450">
        </a>
        <a class="nodeco" href="https://www.k-prod.fr/" target="_blank">
          <img alt="Logo K-Prod" class="img-fluid p-2" src="img/sponsors/logo_kprod.svg" width="300">
        </a>
        <br>
      </div>
    </div>
    <h2>Sponsors</h2>

    <!--grands taille 500 px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
      <span class="recurring">
        <a class="nodeco" href="https://www.tomtom.com/" target="_blank">
          <img alt="logo Tomtom" class="logo p-2" src="img/sponsors/logo_tomtom.svg" width="500">
        </a>
        <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
             data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
             src="img/sponsors/recurring.svg" width="50">
      </span>
      </div>
    </div>

    <!--moyens taile 350px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://immergis.fr/" target="_blank">
          <img alt="logo Immergis" class="logo p-2" src="img/sponsors/logo_immergis.png" width="350">
        </a>
          <a class="nodeco" href="https://www.cresson-topo.com/" target="_blank">
            <img alt="logo Cresson Topo" class="logo p-2" src="img/sponsors/logo_cresson_topo.svg" width="300">
          </a>
          <a class="nodeco" href="https://www.suivideflotte.net/" target="_blank">
            <img alt="logo Suivi De Flotte" class="logo p-2" src="img/sponsors/logo_sdf.svg" width="350">
          </a>
        <a class="nodeco" href="https://latitude-cartagene.com/" target="_blank">
            <img alt="logo Latitude Cartagène" class="logo p-2" src="img/sponsors/logo_sdf.svg" width="350">
        </a>
        <br>
        <a class="nodeco"
           href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202025"
           target="_blank">
          <img alt="Votre logo ici" class="logo p-2" src="img/sponsors/logo_vide.svg" width="200">
        </a>
      </div>
    </div>

    <!--petits soutiens taille 200 px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <span class="recurring">
          <a class="nodeco" href="https://cartocite.fr/" target="_blank">
              <img alt="logo Cartocité" class="logo p-2" src="img/sponsors/logo_cartocite.svg" width="200">
          </a>
          <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
               data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
               src="img/sponsors/recurring.svg" width="50">
        </span>
        <span class="recurring">
          <a class="nodeco" href="https://junglebus.io/" target="_blank">
              <img alt="logo Jungle Bus" class="logo p-2" src="img/sponsors/logo_jungle_bus.svg" width="200">
          </a>
          <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
               data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
               src="img/sponsors/recurring.svg" width="50">
        </span>
        <a class="nodeco" href="https://www.agaricig.com/" target="_blank">
          <img alt="logo Agaric IG" class="logo p-2" src="img/sponsors/logo_agaric_ig.svg" width="200">
        </a>
        <a class="nodeco" href="https://www.veremes.com/" target="_blank">
          <img alt="logo Veremes" class="logo p-2" src="img/sponsors/logo_veremes.svg" width="200">
        </a>
        <a class="nodeco" href="https://www.jawg.io/fr/" target="_blank">
          <img alt="logo JawgMaps" class="logo p-2" src="img/sponsors/logo_jawgmaps.png" width="150">
        </a>
        <br>
        <span class="recurring">
          <a class="nodeco" href="https://verso-optim.com/" target="_blank">
              <img alt="logo Verso" class="logo p-2" src="img/sponsors/logo_verso.svg" width="200">
          </a>
          <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
               data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
               src="img/sponsors/recurring.svg" width="50">
        </span>
        <a class="nodeco" href="https://ou-vivre.fr/" target="_blank">
          <img alt="logo ou-vivre.fr" class="logo p-2" src="img/sponsors/logo_ou_vivre_fr.svg" width="200">
        </a>

        <a class="nodeco"
           href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202025"
           target="_blank">
          <img alt="Votre logo ici" class="logo p-2" src="img/sponsors/logo_vide.svg" width="200">
        </a>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}
