{% set page_name = 'Contributions' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Appel à contributions</h1>
                <p class="fw-medium">Cette année, l'appel à contributions est réalisé via le logiciel libre <a href="https://pretalx.com/">Pretalx</a> que nous avons décidé d'expérimenter en mode SaaS. Il nous facilitera toute la gestion des intervenants et des interventions.
                    Vous pouvez donc proposer une intervention, et vous disposerez donc d'un compte pour revenir ultérieurement sur la plateforme.
                    Nous vous remercions pour votre participation et vous invitons à suivre ce lien : <a href="https://pretalx.com/sotm-fr-2024/cfp">https://pretalx.com/sotm-fr-2024/cfp</a>.
                <div class="row bg-white text-center">
                    <div class="contributionCall hidden col py-5 text-dark">
                        <p class="fw-medium">L'appel à contributions est clôturé.</p>
                        <p>Si vous souhaitez nous contacter, merci d'utiliser l'adresse <a
                                href="mailto:sotm@openstreetmap.fr">sotm@openstreetmap.fr</a>.</p>
                    </div>
                    <!--<div class="contributionCall">
                        <iframe src="https://pretalx.com/sotm-fr-2024/cfp"
                            width="100%" height="800" border="0"></iframe>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
