{% set page_name = 'Contributions' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Appel à contributions</h1>
                <div class="row bg-white text-center">
                    <div class="contributionCall hidden col py-5 text-dark">
                        <p class="fw-medium">L'appel à contributions est clôturé.</p>
                        <p>Si vous souhaitez nous contacter, merci d'utiliser l'adresse <a
                                href="mailto:sotm@openstreetmap.fr">sotm@openstreetmap.fr</a>.</p>
                    </div>
                    <div class="contributionCall">
                        <iframe src="https://framaforms.org/proposition-dintervention-au-sotm-france-2024-1707165686"
                            width="100%" height="800" border="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}