{% set page_name = 'Informations pratiques' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <h1>Informations pratiques</h1>
        <p>Les journées du vendredi et samedi auront lieu sur le <strong>Campus de la Manufacture des Tabacs</strong> de l'Université Lyon 3.</p>
        <p>La journée du dimanche se déroulera dans les locaux de Michelin au 107, Rue Servient.</p>
		
		<iframe width="100%" height="500px" frameborder="0" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/fr/map/state-of-the-map-2024_1061323?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=true&tilelayersControl=true&embedControl=true&datalayersControl=null&onLoadPanel=none&captionBar=false&captionMenus=true&locateControl=true"></iframe><p><a href="//umap.openstreetmap.fr/fr/map/state-of-the-map-2024_1061323?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=true&tilelayersControl=true&embedControl=true&datalayersControl=null&onLoadPanel=none&captionBar=false&captionMenus=true&locateControl=true">Voir en plein écran</a></p>

        <div class="content-section">
            <h1>
                Campus de la Manufacture des Tabacs
            </h1>
            <p>
            Ce campus est situé au cœur de Lyon et à proximité du quartier d'affaires de la
            Part-Dieu et de la gare Lyon Part-Dieu.</p>
            <p>Coordonnées GPS : 45.7484204, 4.8611284</p>
            <p>
            <a href="geo:45.74837,4.86089?z=18">Ouvrir dans une application gps</a><br>
            <a href="https://osmand.net/map?pin=45.74785,4.86053#18/45.74785/4.86053">Ouvrir dans OsmAnd</a><br>
            <a href="https://omaps.app/04AcXEHM-i/Université_Lyon_3_-_Campus_Manufacture_des_Tabacs">Ouvrir dans Organic Maps</a>
            </p>
            <h3>Entrées du campus</h3>
            
            Il y a 2 entrées du campus, nous vous conseillons l'entrée Sud :
            
            <ul>
            <li>Nord : 6 rue du Professeur Rollet - Lyon 8e - Accès PMR pour fauteuil motorise ou aidant</li>
            <li>Sud : 1 avenue des Frères Lumière - Lyon 8e - Accès PMR pour tout type de fauteuil</li>
            </ul>

            <h2>
                Accès en transports en commun lyonnais
            </h2>
            <p>
            <ul>
                <li>Métro ligne D | Station Sans-Souci (à la sortie du métro, suivre le sens des voitures)</li>
                <li>Tram T4 | Arrêt Manufacture Montluc ou Lycée Colbert</li>
                <li>Bus lignes C7, C25, 69 | Arrêt Manufacture - Montluc</li>
            </ul>
                ► <a href="https://www.tcl.fr/">
                    Plus d'infos sur le site des TCL 
                </a>
            </p>

        </div>
        <div class="content-section">
            <h2>Point de rencontre du jeudi soir</h2>
            <p>
                <!--                TODO-->
                Informations à venir.
            </p>
        </div>
        <div class="content-section">
            <h2>Hébergement</h2>
            <p>
                <!--                TODO-->
                Des chambres réparties dans 3 résidences universitaires à proximité du campus seront réservables avec l'inscription.
            </p>
        </div>
        <div class="content-section">
            <h2>Venir à Lyon en train</h2>
            <p>Lyon est très bien desservi par le train : en moins de 5h, vous pouvez venir de tous ces endroits :)</p>
            <img src="img/lyon_train_5h.png">
            <br>
            <a href="https://www.chronotrains.com/fr/station/2996944-Lyon/5">Source</a>
            <h3>Gares de Lyon</h3>
            <p>
            Si vous avez la possibilité, arrêtez-vous à la gare de <strong>Lyon Part-Dieu</strong> puis vous pourrez <a href="https://www.openstreetmap.org/directions?engine=graphhopper_foot&route=45.7606%2C4.8598%3B45.7492%2C4.8601#map=16/45.7549/4.8606" target="_blank">marcher (18 mn, 1,4 km)</a> 
            ou prendre le tram <a href="https://www.tcl.fr/lignes/tramway-t4" target="_blank">T4</a>, coté porte des Alpes, pour venir au Campus de la Manufacture des Tabacs.</p>
            <p></p>La gare de Perrache est une belle alternative mais il faudra prendre les transports en commun pour nous rejoindre.
            <p>La gare St Exupéry est à l'aéroport, il est plus compliqué d'arriver en centre-ville : <a href="https://www.rhonexpress.fr/fr_FR/" target="_blank">Navette Rhone-Express</a> (cher) ou un bus <a href="https://www.tcl.fr/" target="_blank">TCL</a> (long).</p>

    

        </div>
    </div>
</section>

{% endblock %}
