{% set page_name = 'Informations pratiques' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="page">
    <div class="container">
        <h1>Informations pratiques</h1>
        <div class="content-section">
            <!--                    TODO carte umap-->
        </div>
        <div class="content-section">
            <h1>

                Campus de la Manufacture des Tabacs
            </h1>

            Le campus de la Manufacture des Tabacs est situé au cœur de Lyon et à proximité du quartier d'affaires de la
            Part-Dieu et de la gare Lyon Part-Dieu.

            <h2>

                Entrées du campus
            </h2>

            6 rue Pr. Rollet - Lyon 8e
            1 avenue des Frères Lumière - Lyon 8e
            Accès PMR : 1 avenue des Frères Lumière (tout type de fauteuil) ou 6 rue Pr. Rollet (fauteuil motorisé ou
            aidant)

            <h2>

                Horaires d'ouverture
            </h2>
            <p>

                Du lundi au vendredi de 7h45 à 21h (hors vacances universitaires)
                Bibliothèque ouverte le dimanche, accès par l'allée Hannah Arendt


            </p>
            <h2>

                Point central d'accueil de la Manufacture des Tabacs
            </h2>
            <p>

                <a href="tel:04 78 78 77 86">
                    Tél. 04 78 78 77 86
                </a>
                Situé dans l'Espace rue Sud
            </p>

            <h2>
                Accès en transports en commun
            </h2>
            <p>
                <br> Métro ligne D | Station Sans-Souci (à la sortie du métro, suivre le sens des voitures)
                <br> Tram T4 | Arrêt Manufacture Montluc ou Lycée Colbert
                <br> Bus lignes C7, C25, 69 | Arrêt Manufacture - Montluc
                <br>
                <a href="https://www.tcl.fr/">

                    ► Plus d'infos sur le site des TCL
                </a>
            </p>

        </div>
        <div class="content-section">
            <h2>Point de rencontre du jeudi soir</h2>
            <p>
                <!--                TODO-->
                à définir.
            </p>
        </div>
        <div class="content-section">
            <h2>Hébergement</h2>
            <p>
                <!--                TODO-->
                à définir.
            </p>
        </div>
        <div class="content-section">
            <h2>Moyens d'accès</h2>
            <p>

                Coordonnées
                <br>
                <addr>
                    1 avenue des Frères Lumière
                    69008
                    Lyon
                    FR
                </addr>
                <br>

                <br>Coordonnées GPS
                <br>Latitude 45.74718°
                <br>Longitude 4.85941°
                <br>Accès en train
                <br>
                <br>Gare Lyon Part-Dieu
                <br>Accès en tram
                <br>
                <br>Tramway T4 | Arrêt Manufacture - Montluc ou Lycée Colbert
                <br>Accès en bus
                <br>
                <br>Bus lignes C7, C25, 69 et 296 | Arrêt Manufacture - Montluc
                <br>Accès en métro
                <br>
                <br>Métro ligne D | Station Sans-Souci (à la sortie du métro, suivre le sens des voitures)
                <br>Accès aux personnes à mobilité réduite
                <br>
                <br>1 avenue des Frères Lumière (tout type de fauteuil) - 6 rue Rollet (fauteuil motorisé ou aidant)

            </p>

        </div>
    </div>
</section>

{% endblock %}