{% set page_name = 'Inscription' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section id="main" class="container-fluid">
    <div class="container text-center">
        <h1 class="card-title">Inscription</h1>
        <p class="mt-3 text-secondary fst-italic fs-6">
            Si vous rencontrez des problèmes pour vous inscrire avec cette page, utilisez
            <a href="https://openstreetmap.assoconnect.com/collect/description/404597-b-state-of-the-map-france-2024">ce
                lien</a>
        </p>
		<h4><strong>Les inscriptions seront clôturées le 20 juin à 23h59 en raison de contraintes Vigipirate. Nous ne pourrons pas prendre de nouvelles inscriptions au-delà de cette date.</strong></h4>
        <p>
            Si vous ne l'avez pas déjà fait, cliquez sur le bouton jaune «&nbsp;<em>Je participe !</em>&nbsp;» pour vous
            inscrire à l'événement.
        </p>

        <iframe id="iframe_assoconnect"
            src="https://openstreetmap.assoconnect.com/collect/description/404597-b-state-of-the-map-france-2024?iframe=1"
            width="100%" style="overflow: hidden; border: 0; max-height: none;" scrolling="no">
		</iframe>

        <script>
            window.addEventListener("message", function (event) {
                if (event.data.action === "iframe.height" && event.origin === "https://openstreetmap.assoconnect.com") {
                    document.getElementById("iframe_assoconnect").height = event.data.height;
                }
            });
        </script>
        <script>
            window.addEventListener('message', function (event) {
                if (
                    event.data.action === 'iframe.height' &&
                    event.origin === 'https://openstreetmap.assoconnect.com'
                ) {
                    document.getElementById('iframe_assoconnect').height = event.data.height;
                }
            });
        </script>
    </div>
	<div class="container">
	<p>► <a href="https://openstreetmap.assoconnect.com/collect/description/60809-u-adherez-a-openstreetmap-france?header=%2Fpage%2F84624-adherer-en-ligne">Adhérez à l'association OpenStreetMap France</a></p>
	<p>► <a href="https://openstreetmap.assoconnect.com/collect/description/61684-j-faites-un-don-a-openstreetmap-france?header=%2Fpage%2F580542-faire-un-don-en-ligne">Faire un don à l'association OpenStreetMap France</a></p>
	</div>
</section>

{% endblock %}