{% set page_name = 'Soutiens' %}
{% extends "layouts/layout.html" %}
{% block content %}

<section class="sponsor-page" id="main">

  <div class="container">
    <h1>Soutiens</h1>
    <h2>Partenaire</h2>
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://www.univ-lyon3.fr" target="_blank">
          <img alt="Logo de l'Université Lyon 3" class="logo" src="img/sponsors/logo_univ_lyon_3.svg" width="500">
        </a>
      </div>
    </div>
    <h2>Sponsors</h2>

    <!--            grands taille 500 px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://www.grandlyon.com/" target="_blank">
          <img alt="Logo Grand Lyon" class="logo p-2" src="img/sponsors/logo_grand_lyon.svg" width="500">
        </a>
      </div>
    </div>

    <!--                        moyens taile 350px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://www.craig.fr/" target="_blank">
          <img alt="logo Craig Aura" class="logo p-2" src="img/sponsors/logo_craig.svg" width="250">
        </a>

        <a class="nodeco" href="https://makina-corpus.com/" target="_blank">
          <img alt="logo Makina Corpus" class="logo p-2" src="img/sponsors/logo_makinacorpus.png" width="250">
        </a>

        <span class="recurring">
          <a class="nodeco" href="https://cartocite.fr/" target="_blank">
              <img alt="logo Cartocité" class="logo p-2" src="img/sponsors/logo_cartocite.svg" width="350">
          </a>
          <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
               data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
               src="img/sponsors/recurring.svg" width="50">
        </span>

        <br>

        <span class="recurring">
          <a class="nodeco" href="https://www.magellium.com/fr/" target="_blank">
              <img alt="logo Magellium" class="logo p-2" src="img/sponsors/logo_magellium.svg" width="350">
          </a>
          <img alt="Sponsor récurrent" class="recurring-logo" data-bs-placement="top"
               data-bs-title="Ce sponsor nous finance pendant trois ans." data-bs-toggle="tooltip"
               src="img/sponsors/recurring.svg" width="50">
        </span>

        <a class="nodeco" href="https://www.opendatasoft.com/fr/" target="_blank">
          <img alt="logo OpenDataSoft" class="logo p-2" src="img/sponsors/logo_opendatasoft.svg" width="350">
        </a>

        <a class="nodeco" href="https://www.tomtom.com/fr_fr/navigation/" target="_blank">
          <img alt="logo TomTom" class="logo p-2" src="img/sponsors/logo_tomtom.svg" width="350">
        </a>

        <a class="nodeco"
           href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024"
           target="_blank">
          <img alt="Votre logo ici" class="logo p-2" src="img/sponsors/logo_vide.svg" width="200">
        </a>
      </div>
    </div>


    <!--                        petits soutiens taille 200 px de large-->
    <div class="row bg-white text-center">
      <div class="col pt-5 pb-5">
        <a class="nodeco" href="https://www.k-prod.fr/" target="_blank">
          <img alt="logo Kintésens Prod." class="logo p-2" src="img/sponsors/logo_kintesensprod.svg" width="150">
        </a>

        <a class="nodeco" href="https://www.veremes.com/" target="_blank">
          <img alt="logo Veremes" class="logo p-2" src="img/sponsors/logo_veremes.svg" width="200">
        </a>

        <a class="nodeco" href="https://www.jawg.io/fr/" target="_blank">
          <img alt="logo JawgMaps" class="logo p-2" src="img/sponsors/logo_jawgmaps.png" width="200">
        </a>

        <a class="nodeco"
           href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024"
           target="_blank">
          <img alt="Votre logo ici" class="logo p-2" src="img/sponsors/logo_vide.svg" width="200">
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
