{% set page_name = 'Soutiens' %}
{% extends "layouts/layout.html" %} 
{% block content %}

<section id="main" class="sponsor-page">

    <div class="container">
        <h1>Soutiens</h1>
        <h2>Partenaires</h2>
        <div class="row bg-white text-center">
            <div class="col pt-5 pb-5">
                <a class="nodeco" target="_blank" href="https://www.univ-lyon3.fr" >
                    <img class="logo" src="img/sponsors/logo_univ_lyon_3.svg" alt="Logo de l'Université Lyon 3" width="700">
                </a>
            </div>
        </div>
        <h2>Sponsors</h2>
        <div class="row bg-white text-center">
            <div class="col pt-5 pb-5">
<!--                        grands-->
                <a class="nodeco" target="_blank" href="https://grand-lyon.com" >
                    <img class="logo p-1" src="img/sponsors/logo_grand_lyon.svg" alt="Logo Grand Lyon" width="500">
                </a>

                <br>
<!--                        moyens-->
<!--                        petits soutiens-->


                <a class="nodeco" target="_blank" href="https://cartocite.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_cartocite.svg" alt="logo Cartocité" width="200">
                </a>

                <a class="nodeco" target="_blank" href="https://www.magellium.com/fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_magellium.svg" alt="logo Magellium" width="200">
                </a>

                <a class="nodeco" target="_blank" href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024" >
                    <img class="logo p-1" src="img/sponsors/logo_vide.svg" alt="Votre logo ici" width="200">
                </a>

            </div>
        </div>
    </div>
</section>

{% endblock %}
