{% set page_name = 'Soutiens' %}
{% extends "layouts/layout.html" %} 
{% block content %}

<section id="main" class="sponsor-page">

    <div class="container">
        <h1>Soutiens</h1>
        <h2>Partenaires</h2>
        <div class="row bg-white text-center">
            <div class="col pt-5 pb-5">
                <a class="nodeco" target="_blank" href="https://www.univ-lyon3.fr" >
                    <img class="logo" src="img/sponsors/logo_univ_lyon_3.svg" alt="Logo de l'Université Lyon 3" width="500">
                </a>
            </div>
        </div>
        <h2>Sponsors</h2>
            <div class="row bg-white text-center">
                <div class="col pt-5 pb-5">
<!--                        grands taille 500 px de large-->
                <a class="nodeco" target="_blank" href="https://grand-lyon.com" >
                    <img class="logo p-1" src="img/sponsors/logo_grand_lyon.svg" alt="Logo Grand Lyon" width="500">
                </a>

                <br>
<!--                        moyens taile 350px de large-->

                <a class="nodeco" target="_blank" href="https://www.craig.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_craig.svg" alt="logo Craig Aura" width="250">
                </a>
                
                <a class="nodeco" target="_blank" href="https://makina-corpus.com/" >
                    <img class="logo p-2" src="img/sponsors/logo_makinacorpus.png" alt="logo Makina Corpus" width="250">
                </a>
                
                <br>

                <a class="nodeco" target="_blank" href="https://www.opendatasoft.com/fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_opendatasoft.svg" alt="logo OpenDataSoft" width="350">
                </a>
                
                <a class="nodeco" target="_blank" href="https://www.tomtom.com/fr_fr/navigation/" >
                    <img class="logo p-2" src="img/sponsors/logo_tomtom.svg" alt="logo TomTom" width="350">
                </a>

                
                
                <a class="nodeco" target="_blank" href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024" >
                    <img class="logo p-1" src="img/sponsors/logo_vide.svg" alt="Votre logo ici" width="200">
                </a>

<br>

<!--                        petits soutiens taille 200 px de large-->

                <a class="nodeco" target="_blank" href="https://www.k-prod.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_kintesensprod.svg" alt="logo Kintésens Prod." width="150">
                </a>
                
                <a class="nodeco" target="_blank" href="https://www.veremes.com/" >
                    <img class="logo p-2" src="img/sponsors/logo_veremes.svg" alt="logo Veremes" width="200">
                </a>     
                           
                <a class="nodeco" target="_blank" href="https://www.jawg.io/fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_jawgmaps.png" alt="logo JawgMaps" width="200">
                </a>
                
                <a class="nodeco" target="_blank" href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024" >
                    <img class="logo p-1" src="img/sponsors/logo_vide.svg" alt="Votre logo ici" width="200">
                </a>    
            </div>
        </div>

<!--                        Convention 3 ans taille 350 px de large-->


        <h2>Convention sur 3 ans</h2>
        <div class="row bg-white text-center">
            <div class="col pt-5 pb-5">
                <a class="nodeco" target="_blank" href="https://cartocite.fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_cartocite.svg" alt="logo Cartocité" width="350">
                </a>

                <a class="nodeco" target="_blank" href="https://www.magellium.com/fr/" >
                    <img class="logo p-2" src="img/sponsors/logo_magellium.svg" alt="logo Magellium" width="350">
                </a>

                <a class="nodeco" target="_blank" href="mailto:soutien@openstreetmap.fr?subject=%5BSOTM%5D%20Soutenir%20le%20State%20Of%20The%20Map%202024" >
                    <img class="logo p-1" src="img/sponsors/logo_vide.svg" alt="Votre logo ici" width="200">
                </a>

            </div>
        </div>
    </div>
</section>

{% endblock %}
