<header class="intro container-fluid position-relative">
    <div class="row">
        <div class="logo col-lg-5 text-center">
            <img src="./img/osm.svg" alt="State of the Map France, 28-30 Juin 2024" />
        </div>
        <div class="col mt-3 me-lg-5 text-center d-flex flex-column align-items-center justify-content-center">
            <span class="fs-1 w-75">
                Conférences et ateliers pour les contributeurs et les utilisateurs d'OpenStreetMap
            </span>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 attribution pb-4 px-4">
        Logo : <a class="link-primary" href="https://bardelli.fr/">Antoine Bardelli</a>
        <br>Photo : <span class="attribution">
            "<a class="link-primary" href="https://www.flickr.com/photos/61533954@N00/15319585287"
                rel="noopener noreferrer"
                target="_blank">Vieux Lyon, France</a>" by <a
            href="https://www.flickr.com/photos/61533954@N00" rel="noopener noreferrer"
            target="_blank">Dimitry B</a> is licensed under <a
            href="https://creativecommons.org/licenses/by/2.0/?ref=openverse"
            rel="noopener noreferrer"
            target="_blank">CC BY 2.0 <img
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
            style="height: 1em; margin-right: 0.125em; display: inline;"></img><img
            src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
            style="height: 1em; margin-right: 0.125em; display: inline;"></img></a>. </span>
    </div>
</header>