<footer id="footer" class="{{page_name}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 footer-logo">
                <img src="img/osm.svg" alt="logo-osm" style="height: 100px; margin-bottom: -20px"/>
            </div>
            <nav class="col-lg-3 nav flex-column">
                <a href="https://www.openstreetmap.fr/" class="animate block">OpenStreetMap France</a>
                <a rel="me" href="https://fr.osm.social/@sotmfr" class="animate block">Mastodon</a>
                <a href="https://peertube.openstreetmap.fr/a/openstreetmap.fr/video-channels" class="animate block">Peertube</a>
                

            </nav>
            <nav class="col-lg-3 nav flex-column">
                <a href="https://www.facebook.com/osmfr/" class="animate block">Facebook</a>
                <a href="https://twitter.com/sotmfr" class="animate block">X / Twitter</a>
            </nav>
            <nav class="col-lg-3 nav flex-column">
                <a href="mentions-legales.html" class="animate block">Mentions légales</a>
                <a href="https://github.com/osm-fr/sotmfr-website" class="animate block">Sources</a>

            </nav>
        </div>
        <div class="center">
            <p>
                Édition <span class="numeral">2024</span>&nbsp;-&nbsp;<a
                    href="mailto:sotm@openstreetmap.fr"
                    class="animate light"
            >sotm@openstreetmap.fr</a
            >
            </p>
        </div>
    </div>
</footer>
