<header class="intro container-fluid position-relative">
    <div class="row">
        <div class="logo col-lg-5 text-center">
           <!-- <img src="img/" alt="State of the Map France, 13-15 Juin 2025" />-->
        </div>
        <div class="col mt-3 me-lg-5 text-center d-flex flex-column align-items-center justify-content-center">
            <span class="fs-1 w-75">
                Conférences et ateliers pour les contributeurs et les utilisateurs d'OpenStreetMap
            </span>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 attribution pb-4 px-4">
        Source: <a class="link-primary" href="https://commons.wikimedia.org/wiki/File:Wilsontours.jpg">Wikidata</a>
        <!--Logo et graphisme : <a class="link-primary" href="https://bardelli.fr/">Antoine Bardelli</a>-->
    </div>
</header>
