<!-- Navigation -->
<nav class="navbar navbar-custom navbar-expand-lg fixed-top" data-bs-theme="dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand mx-0 mx-md-3 text-wrap d-flex align-items-center" href="index.html">
            <img src="img/osm.svg" width="30" height="30" alt="osm-logo" class="logo me-2" />
            State of the Map France
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="links navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contribution.html">Appel à contributions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="programme.html">Programme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="inscription.html">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sponsors.html">Soutiens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="infos.html">Infos pratiques</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
