:root {
    --primary-dark: #202055;
    --primary-light: #222296;
    --links: #202055;
    --links-light: #222296;
    --links-white: #e6e6f4;
    --text: #383838;
    --background-light: #fefef6;
    --text-light: #e6e6f4;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Barlow', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: var(--text);
    background-color: var(--background-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    letter-spacing: 1px;
}

.prose h2 {
    padding-top: 80px;
    margin-top: -40px;
}

.prose h2:first-child {
    padding-top: 80px;
    margin-top: -80px;
}

div.affix {
    width: 25%;
    max-width: 300px;
    padding-right: 1em;
}

.uppercase {
    text-transform: uppercase;
}

/************************
    Navbar
************************/

.navbar-custom {
    letter-spacing: 1px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-light);
    background-color: var(--primary-dark);
    font-weight: 500;
}

.navbar-custom .navbar-brand {
    font-weight: normal;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 700;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, .15);
}

.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255, 255, 255, .05);
}

.navbar, .navbar a, .navbar a:hover {
    color: var(--text-light);
}

nav a, .nav a {
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav {
    font-size: 15px;
}

nav .navbar-brand {
    font-size: 18px;
}

.navbar-brand {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 4px;
}


/************************
    Link
************************/

a {
    color: var(--text);
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: var(--text);
    text-decoration-color: var(--text);
}


/************************
    Page
************************/

.page {
    background-color: var(--primary-light);
    color: var(--links-white);
}

/************************
    Footer
************************/

footer a,
.page a {
    color: var(--links-white);
}

footer a:hover,
footer a:focus,
.page a:hover,
.page a:focus {
    color: white;
    text-decoration-color: var(--links-white);
}

footer {
    padding: 50px 0;
    color: var(--links-white);
}

footer p {
    margin: 0;
}

footer ::selection,
.page ::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

footer ::-moz-selection,
.page ::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

footer img::selection,
.page img::selection {
    background: 0 0;
}

footer img::-moz-selection,
.page img::-moz-selection {
    background: 0 0;
}

#footer {
    font-size: 15px;
    line-height: 1.75em;
    background-color: var(--primary-dark);
    padding: 3em;
}

#footer.home {
    /* Todo: Modification temporaire en attendu d'avoir du contenu, à supprimer*/
    background-color: var(--primary-light);
}

#footer a.light {
    font-weight: normal;
}

#footer .center {
    padding-top: 2em;
   text-align: center;
}

/************************
    Intro
************************/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-image: url("../img/overlay.png"),
      linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../img/nantes.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .logo {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 300px;
}

/************************
    Présentation
************************/

.presentation {
    padding: 3em;
    border-radius: 0;
    text-align: center;
}

.presentation .card-title {
    font-size: 2em;
}

.presentation .card-subtitle {
    font-size: 1.8em;
    padding-bottom: 1em;
}

.presentation .card-text {
    font-size: 1.5em;
}

/************************
    Inscription
************************/
.inscription-page {
    padding: 6em 0;
}

#inscription {
    border-radius: 0;
    text-align: center;
}

#inscription em {
    font-weight: bold;
    font-style: normal;
}

#iframe_assoconnect {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    border: 0;
    max-height: none
}


/************************
    Crédits
************************/

header.intro {
    position: relative;
}
.credits {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 12px;
}

.credits a {
    color: var(--links-white);
}


div.img-with-credits {
    position: relative;
}

/************************
    Button Arrow (not use)
************************/

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 14px 13px;
    border-radius: 35px;
    font-size: 40px;
    color: var(--text-light);
    background-color: var(--primary-dark);
    -webkit-transition: background .3s ease-in-out, text .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, text .3s ease-in-out;
    transition: background .3s ease-in-out, text .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: var(--primary-light);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

/************************
    Content
************************/

.content-section {
    padding-top: 1em;
}

/************************
    Download
************************/

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    /*background: var(--primary-dark) url(/img/downloads-bg.jpg) no-repeat scroll center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/************************
    Map
************************/

#map {
    width: 100%;
    height: 300px;
}

.map-icon {
    filter: drop-shadow(0 0 2px white);
}

.map-container {
    position: relative;
}

/************************
    Button
************************/

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid var(--links);
    color: var(--links);
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid var(--links);
    outline: 0;
    color: var(--primary-dark);
    background-color: var(--links);
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

/************************
    About
************************/

#about {
    padding: 3em;
    background-color: var(--primary-dark);
}

#about .col-subtitle-info {
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 25px;

}

#about .col-subtitle-info:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-light);
    position: absolute;
    bottom: -13px;
    left: 0;
}

.dotted {
    opacity: 0.4;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.25em 1.6875em;
    /*background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);*/
    /*background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);*/
    /*background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);*/
    /*background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);*/
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    z-index: 0;
}


/************************
    Generic h3 (not use)
************************/


h3.small-title {
    color: var(--links);
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
}

h3.small-title:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-light);
    position: absolute;
    bottom: -13px;
    left: 0;
}

.keyline-bottom-thick {
    padding-bottom: 10px;
}

.keyline-bottom-thick:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #FFE0A8;
    position: absolute;
    bottom: -9px;
    left: 0;
}

.icon:before {
    line-height: inherit;
}

/************************
    Newsletter
************************/

#newsletter {
    background-color: var(--primary-light);
}

.with-icon input[type=email] {
    padding-left: 36px;
    font-size: 17px;
    color: #222;
}

.dark textarea:focus, .dark input[type=password]:focus, .dark input[type=text]:focus, .dark input[type=date]:focus, .dark input[type=email]:focus, .dark input[type=number]:focus {
    border-color: rgba(255, 255, 255, 0.75);
    color: #7E91FF;
}

#newsletter .button {
    background-color: var(--primary-dark);
    color: var(--links-white);
    font-size: 17px;
    -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, color .3s ease-in-out;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

#newsletter .button:hover, #newsletter .button.active {
    background-color: #baad11;
    color: white;
}

input#mce-EMAIL::selection {
    background-color: #ddd;
}

.input-pull .dot-button:hover {
    background-color: #04021e !important;
}

/************************
    Table of contents
************************/

#toc ul li {
    margin-bottom: 0;
}

#toc li a {
    padding: 6px 12px;
}

#toc li a:hover, #toc li a:focus {
    background-color: rgba(0, 0, 0, .05);
}

#toc li.active a:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--primary-dark);
    position: absolute;
    bottom: 0;
}

/************************
    Sponsors
************************/

#sponsors {
    background-color: var(--primary-dark);
    color: var(--links-white);
}

#sponsoring-interested {
    padding-bottom: 80px;
}

#sponsors a img {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    filter: grayscale(1);
    display: inline-block;
    max-width: 100%;
}

#sponsors a {
    color: var(--links-white);
}

#sponsors a:hover {
    opacity: .7;
}

#sponsors a.sponsor {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    width: 160px;
    height: 70px;
}

#sponsors .supporter a.sponsor,
#sponsors .platinum a.sponsor {
    width: auto;
    height: auto;
}

#sponsors .sponsors.platinum {
    font-size: 150%;
}

#sponsors .sponsors.gold {
    font-size: 135%;
}

#sponsors .sponsors.silver {
    font-size: 115%;
}

#sponsors div.platinum img {
    filter: grayscale(0);
}

#sponsors div.platinum h4 {
    font-size: 1em;
    margin-top: 6px;
}


p img.bio-pic {
    height: 160px;
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 1.7em;
    filter: grayscale(1);
}

/************************
    Mobile
************************/

@media (max-width: 766px) {
    header.intro {
        background-attachment: local;
        position: relative;
    }

    header.intro .credits {
        position: absolute;
        right: 0;
    }

    .footer-logo {
        padding-bottom: 1em;
    }

    .prose h2:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    div.affix {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .logo {
        font-size: 100px;
        padding-bottom: 60px;
        margin-left: 14%;
        float: left;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .top-nav-collapse, .stay-collapsed {
        padding: 0;
        background-color: var(--primary-dark);
        border-bottom: 1px solid var(--primary-light);
    }

    .stay-collapsed ul {
        transform : translate(-21%, 0);
    }

    .stay-collapsed .navbar-brand {
        margin-left: 1em;
    }

    .navbar-custom.top-nav-collapse {
        background-color: var(--primary-dark);
        border-bottom: 1px solid var(--primary-light);
    }

    .navbar a {
        color: var(--links-white);
    }

    .navbar a:hover {
        color: var(--primary-light);
    }

    a.navbar-brand {
        display: inline-block;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    .navbar-custom.top-nav-collapse a, .stay-collapsed a,
    .navbar-custom.top-nav-collapse a:hover, .stay-collapsed a:hover {
        opacity: 1;
        width: auto;
        color: var(--text-light);
    }

    .content-section {
        padding-top: 2em;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
    }
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    .intro-body .col4 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0;
    }

    form .icon.mail:before {
        content: "\e653";
        position: absolute !important;
        left: 0;
    }
}

/************************
    tracks
************************/

.trackicon:before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border: 5px solid;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-right: 8px;
    vertical-align: baseline;
}

.trackicon#track-basics:before {
    border-color: #96E185;
}

.trackicon#track-community:before {
    border-color: #FC9294;
}

.trackicon#track-mapping:before {
    border-color: #FFA5EA;
}

.trackicon#track-cartography:before {
    border-color: #91F7F7;
}

.trackicon#track-software:before {
    border-color: #FFFF99;
}

.trackicon#track-data:before {
    border-color: #FFCF3F;
}

.trackicon#track-experiences:before {
    border-color: #C7C7F9;
}

.trackicon#track-academic:before {
    border-color: #dddddd;
}

/************************
    Table
************************/

/* schedule table */
table.scheduleTable thead td {
    border-style: none;
    background-color: var(--primary-dark);
    color: var(--text-light);
}

table.scheduleTable span.speaker,
table.scheduleTable span.extraTag {
    letter-spacing: 0;
    display: block;
}

table.scheduleTable span.speaker {
    margin-top: 5px;
    font-size: 14px;
}

table.scheduleTable span.extraTag {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 100%;
}

td.scheduleBreak {
    text-align: center;
}

/************************
    Img (not use)
************************/

/* no recording icons in schedule */
img.noRecordingBright,
img.noRecordingDark {
    display: inline;
}

img.noRecordingBright {
    margin-left: 10px;
}

img.noRecordingDark {
    margin-right: 10px;
    margin-bottom: 0;
}

/************************
    Abstract
************************/

h2.abstract-subtitle {
    margin-top: 20px;
    padding-top: 0;
}

.abstract-time,
.abstract-room {
    font-size: 20px;
}

.abstract-speaker {
    font-size: 18px;
}

.abstract-speaker,
.abstract-no-recording {
    font-style: italic;
}

/************************
    Program
************************/

.program-page {
    padding: 6em 0;
}

.program-page .container-fluid {
    width: calc(100vw - 24em);
    margin-right: 12em;
    margin-left: 12em;
}

.program-page h1 {
    font-size: 2em;
}

.program-page h2 {
    font-size: 1.8em;
}

.program-page h3 {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.program-page h2:not(:first-child) {
    padding: 0.5em 0;
}

/************************
    Attending
************************/

.translation-table span {
    padding-bottom: 10px;
}

.translation-table .section-head {
    font-weight: bold;
    padding-bottom: 10px;
}

/************************
    Font
************************/

/* latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(../fonts/Barlow-Regular.ttf) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
