<header class="intro container-fluid position-relative">
    <div class="row">
        <div class="logo col-lg-5 text-center">
            <img src="./img/logo-sotm-2023.svg" alt="State of the map, 9 au 11 Juin 2023" />
        </div>
        <div class="col mt-3 me-lg-5 text-center d-flex flex-column align-items-center justify-content-center">
            <span class="fs-1 w-75">
                Conférences et ateliers pour les contributeurs et les utilisateurs d'OpenStreetMap
            </span>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0">
        <span class="p-2">
            Logo : <a href="https://bardelli.fr/" class="credit-link">Antoine Bardelli</a>
        </span>
    </div>
</header>